
- name: copying repo templates
  ansible.builtin.copy:
    src: mysql.repo
    dest: /etc/yum.repos.d/mysql.repo

- name: Disable mysql
  ansible.builtin.shell: dnf module disable mysql -y

- name: installing mysql
  ansible.builtin.yum:
    name: mysql-community-server
    state: installed

- name: enable and restart database
  ansible.builtin.systemd:
    name: mysqld
    state: started
    enabled: yes

- name: setup password
  ansible.builtin.shell: mysql_secure_installation --set-root-pass {{ lookup('amazon.aws.aws_ssm', '{{env}}.{{component}}.mysql_pass', region='us-east-1') }}
  ignore_errors: yes





