- name: Disable mysql
  ansible.builtin.shell: dnf module disable mysql -y

- name: copying repo templates
  ansible.builtin.copy:
    src: mysql.repo
    dest: /etc/yum.repos.d/mysql.repo

- name: installing mysql
  ansible.builtin.yum:
    name: mysql-community-server
    state: installed

- name: enable and restart database
  ansible.builtin.systemd:
    name: mysqld
    enabled: yes
    state: restarted

- name: setup password
  ansible.builtin.shell: mysql_secure_installation --set-root-pass RoboShop@1
  ignore_errors: yes





