- name: install golang
  ansible.builtin.yum:
    name: golang
    state: installed

- name: app-setup
  ansible.builtin.import_tasks:
    file: app-setup.yml

- name: download dependencies
  ansible.builtin.shell: cd /app; go mod init dispatch; go get; go build

- name: import systemd-setup
  ansible.builtin.import_tasks:
    file: systemd-setup.yml