- name: installing database and loading schema
  when: schema_type == 'mongo'
  block:
    - name: copying mongodb repo files
      ansible.builtin.copy:
        src: mongodb.repo
        dest: /etc/yum.repos.d/mongodb.repo
    - name: Installing mongodb
      ansible.builtin.yum:
        name: mongodb-org-shell
        state: installed
    - name: loading schema
      ansible.builtin.shell: mongo --host mongodb-dev.devops2023.online </app/schema/{{ component }}.js

  when: schema_type == 'mysql'
  block:
    - name: installing mysql
      ansible.builtin.yum:
        name: mysql
        state: installed
    - name: loading schema
      ansible.builtin.shell: mysql -h mysql-dev.devops2023.online -uroot -pRoboshop@1 < /app/schema/{{ component }}.sql
